<?xml version="1.0"?>
<config>
    <modules>
        <CES_CustomerSurvey>
            <version>1.0.2</version>
        </CES_CustomerSurvey>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customersurvey before="Mage_Adminhtml">CES_CustomerSurvey_Adminhtml</customersurvey>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <customersurvey>
                <class>CES_CustomerSurvey_Model</class>
                <resourceModel>customersurvey_mysql4</resourceModel>
            </customersurvey>
            <customersurvey_mysql4>
                <class>CES_CustomerSurvey_Model_Mysql4</class>
                <entities>
                    <schedule>
                        <table>customersurvey_schedule</table>
                    </schedule>
                </entities>
            </customersurvey_mysql4>
        </models>
        <resources>
            <customersurvey_setup>
                <setup>
                    <module>CES_CustomerSurvey</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customersurvey_setup>
            <customersurvey_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customersurvey_write>
            <customersurvey_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customersurvey_read>
        </resources>
        <helpers>
            <customersurvey>
                <class>CES_CustomerSurvey_Helper</class>
            </customersurvey>
        </helpers>
        <blocks>
            <customersurvey>
                <class>CES_CustomerSurvey_Block</class>
            </customersurvey>
        </blocks>
        <template>
            <email>
                <customersurvey_template>
                    <label>Customer Survey Picture Plus Email Template</label>
                    <file>customersurvey/email.html</file>
                    <type>html</type>
                </customersurvey_template>
            </email>
        </template>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <customersurvey_save_schedule>
                        <type>singleton</type>
                        <class>CES_CustomerSurvey_Model_Observer</class>
                        <method>saveSchedule</method>
                    </customersurvey_save_schedule>
                </observers>
            </sales_order_save_commit_after>
      </events>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <customersurvey_insert_survey_block>
                        <type>singleton</type>
                        <class>CES_CustomerSurvey_Model_Observer</class>
                        <method>insertSurveyBlock</method>
                    </customersurvey_insert_survey_block>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <customersurvey>
                    <file>customersurvey/layout.xml</file>
                </customersurvey>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <ces_customersuvery_send_mail>
                <schedule>
                    <cron_expr>*/60 * * * *</cron_expr>
                </schedule>
            <run>
                <model>customersurvey/observer::sendSurvey</model>
            </run>
            </ces_customersuvery_send_mail>
        </jobs>
    </crontab>
    <default>
        <customersurvery>
            <customersurvery>
                <time_to_send_survey>0</time_to_send_survey>
                <template>customersurvey_template</template>
            </customersurvery>
        </customersurvery>
    </default>
</config>
